<h2>Utilisateurs</h2>
<br>
{{#each users}}
    	<h4>{{this.nom}} {{this.prenom}}</h4>
        <h5>Statut : {{this.role}}</h5>
    	<p>
    		{{this.username}}<br>
			{{this.telephone}}<br>
    	</p>

    	<div style="display: flex;">
    		<h5 style="border: 2px solid white; padding: 10px; width: 133px; text-align: center; text-transform: uppercase; height:40px">
    			<a href="/principal/{{this._id}}/update_user">Modifier</a>
    		</h5>
    		&nbsp;
    		<form action="/principal/{{this._id}}/delete_user" method="POST">
    			<button type="submit">Supprimer</button>
    		</form>
    	</div>
    	
    	
    <hr>
{{/each}}
<br>