<style>
  .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #message_non_lu{
    display: block;
  }

  #message_lu{
    display: block;
    border: #708090 3px solid;
  }

  #message_emis{
    display: block;
    border: #708090 3px solid;
  }

  table th{
    background: slategrey;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .entete{
    text-transform: uppercase;
  }

  .anon{
    font-style: italic;
    background: #616e7d;
  }

  .lavend{
    background: lavender;
    color: #232943;
  }

</style>
{{#if user}}

  <h2>Messagerie de {{user.prenom}} {{user.nom}}</h2>

{{/if}}
<br>

<div class="box">
  <button id="tous" onclick="showAll()">Tous les messages</button>
  <button id="recus" onclick="showReceived()">Messages reçus</button>
  <button id="envoyes" onclick="showSend()">Messages envoyés</button>
  <a href="/principal/{{user._id}}/creation_message" class="button primary">Nouveau Message</a>
</div>

<br>


<div id="message_non_lu">

<table style="border: lavender 3px solid;">
  <tr>
    <th class="lavend" colspan="5">Messages non lus</th>
  </tr>
  <tr>
    <td class="entete">De</td>
    <td class="entete">Date</td>
    <td class="entete">Sujet</td>
    <td class="entete">Contenu</td>
    <td class="entete">&nbsp;</td>
  </tr>

  {{#if message_non_lu_public}}
    {{#each message_non_lu_public}}
    <tr>

        {{#each emetteur}}
          <td>{{username}} - {{nom}} {{prenom}}</td>
        {{/each}}
    
    <td>{{created_at}}</td>
    <td>{{sujet}}</td>
    <td>{{contenu}}</td>
    <td>
      <a class="button primary small" href="/principal/{{this._id}}/detail_message">Voir</a>
      <br><br>
      <a class="button primary small" href="/principal/{{this._id}}/reponse_message">Répondre</a>
      <br><br>
      <form action="/principal/{{this._id}}/message_lu" method="POST">
        <button class="btn primary small" type="submit">Lu</button>
      </form>
    </td>
  </tr>
    {{/each}}
    {{else}}
    <tr><td colspan="5">Pas de nouveau message</td></tr>
  {{/if}}
  <tr><td class="lavend" colspan="5"><i>Messages Anonymes</i></td></tr>
  {{#if message_non_lu_anon}}
  {{#each message_non_lu_anon}}
  <tr>
    <td>Anonyme</td>
    <td>{{created_at}}</td>
    <td>{{sujet}}</td>
    <td>{{contenu}}</td>
    <td>
      <a class="button primary small" href="/principal/{{this._id}}/detail_message">Voir</a>
      <br><br>
      <a class="button primary small" href="/principal/{{this._id}}/reponse_message">Répondre</a>
      <br><br>
      <form action="/principal/{{this._id}}/message_lu" method="POST">
        <button class="btn primary small" type="submit">Lu</button>
      </form>
    </td>
  </tr>
  {{/each}}
  {{else}}
    <tr><td colspan="5">Pas de nouveau message</td></tr>
  {{/if}}
 </table>
</div>

<br>

<div id="message_lu">
 <table>
  <tr>
    <th colspan="5">Messages lus</th>
  </tr>
  <tr>
    <td class="entete">De</td>
    <td class="entete">Date</td>
    <td class="entete">Sujet</td>
    <td class="entete">Contenu</td>
    <td class="entete">&nbsp;</td>
  </tr>
  {{#if message_lu_public}}
  {{#each message_lu_public}}
    <tr>
    {{#each emetteur}}
    <td>{{username}} - {{nom}} {{prenom}}</td>
    {{/each}}
    <td>{{created_at}}</td>
    <td>{{sujet}}</td>
    <td>{{contenu}}</td>
    <td>
      <a class="button primary small" href="/principal/{{this._id}}/detail_message">Voir</a>
      <br><br>
      <a class="button small" href="/principal/{{this._id}}/reponse_message">Répondre</a>
      <br><br>
      <form action="/principal/{{this._id}}/delete_message" method="POST">
        <button class="btn small" type="submit">Supprimer</button>
      </form>
    </td>
    </tr>
  {{/each}}
  {{/if}}
  <tr><td class="anon" colspan="5">Messages Anonymes</td></tr>
  {{#if message_lu_anon}}
  {{#each message_lu_anon}}
    <tr>
    <td>Anonyme</td>
    <td>{{created_at}}</td>
    <td>{{sujet}}</td>
    <td>{{contenu}}</td>
    <td>
      <a class="button primary small" href="/principal/{{this._id}}/detail_message">Voir</a>
      <br><br>
      <a class="button small" href="/principal/{{this._id}}/reponse_message">Répondre</a>
      <br><br>
      <form action="/principal/{{this._id}}/delete_message" method="POST">
        <button class="btn small" type="submit">Supprimer</button>
      </form>
    </td>
    </tr>
  {{/each}}
  {{/if}}
</table>
</div>

<hr>

<div id="message_emis">
<table>
     <tr>
      <th colspan="5">Messages envoyés</th>
    </tr>
    <tr>
      <td class="entete">À</td>
      <td class="entete">Date</td>
      <td class="entete">Sujet</td>
      <td class="entete">Contenu</td>
      <td class="entete">&nbsp;</td>
    </tr>

    {{#if message_emis_public}}
      {{#each message_emis_public}}
        <tr>
          {{#each recepteur}}
            <td>{{username}} - {{nom}} {{prenom}}</td>
          {{/each}}
          <td>{{created_at}}</td>
          <td>{{sujet}}</td>
          <td>{{contenu}}</td>
          <td>
            <a class="button primary small" href="/principal/{{this._id}}/detail_message">Voir</a>
            <br><br>
            <form action="/principal/{{this._id}}/delete_message" method="POST">
              <button class="btn small" type="submit">Supprimer</button>
            </form>
          </td>
        </tr>
      {{/each}}
    {{/if}}
    <tr><td class="anon" colspan="5">Messages Anonymes</td></tr>
    {{#if message_emis_anon}}
      {{#each message_emis_anon}}
        <tr>
          <td>Anonyme</td>
          <td>{{created_at}}</td>
          <td>{{sujet}}</td>
          <td>{{contenu}}</td>
          <td>
            <a class="button primary small" href="/principal/{{this._id}}/detail_message">Voir</a>
            <br><br>
            <form action="/principal/{{this._id}}/delete_message" method="POST">
              <button class="btn small" type="submit">Supprimer</button>
            </form>
          </td>
        </tr>
      {{/each}}
    {{/if}}

</table>
</div>


<script>

    let message_non_lu = document.getElementById("message_non_lu");
    let message_lu     = document.getElementById("message_lu");
    let message_emis   = document.getElementById("message_emis");

  function showAll() {

      if (message_non_lu.style.display == "none" && message_lu.style.display == "none" && message_emis.style.display == "none")
      {
        message_non_lu.style.display = "block";
        message_lu.style.display = "block";
        message_emis.style.display = "block";
      } else {
        message_non_lu.style.display = "none";
        message_lu.style.display = "none";
        message_emis.style.display = "none";
        message_non_lu.style.display = "block";
        message_lu.style.display = "block";
        message_emis.style.display = "block";
      }
  }


  function showReceived(){

      if (message_non_lu.style.display == "none" && message_lu.style.display == "none" && message_emis.style.display == "none")
      {
        message_non_lu.style.display = "block";
        message_lu.style.display = "block";
      } else {
        message_non_lu.style.display = "none";
        message_lu.style.display = "none";
        message_emis.style.display = "none";
        message_non_lu.style.display = "block";
        message_lu.style.display = "block";
      }
  }


  function showSend(){

      if (message_non_lu.style.display == "none" && message_lu.style.display == "none" && message_emis.style.display == "none")
      {
        message_emis.style.display = "block";
      } else {
        message_non_lu.style.display = "none";
        message_lu.style.display = "none";
        message_emis.style.display = "none";
        message_emis.style.display = "block";
      }
  }
</script>