<br>
<h2>Nouveau message<h2>
<hr>
<form action="/eleve/creation_message" method="POST" id="form-container">
  <input id="signalement" type="hidden" name="signalement" value="true">
	<input id="emetteur" type="hidden" name="emetteur" value="{{user._id}}">
  <input id="lu" type="hidden" name="lu" value="NON">
  <input id="statut" type="hidden" name="statut" value="PUBLIC">
  <input id="archive" type="hidden" name="archive" value="NON">
  <input id="priority_level" type="hidden" name="priority_level" value="normal">

  <label for="recepteur">Destinataire</label>
    <select name="recepteur" id="recepteur">
  	  {{#each users}}
  	  <option value="{{_id}}">{{role}} - {{nom}}</option>
	  {{/each}}
    </select>

    <br>

    <label for="objet">Objet</label>
    <select name="objet" id="objet">
      <option value="HARCELEMENT PHYSIQUE">Harcèlement physique</option>
      <option value="HARCELEMENT VERBAL">Harcèlement verbal</option>
      <option value="HARCELEMENT SOCIAL">Harcèlement social</option>
      <option value="CYBERHARCELEMENT">Cyberharcèlement</option>
      <option value="HARCELEMENT SEXUEL">Harcèlement sexuel</option>
      <option value="AUTRE TYPE DE HARCELEMENT">Autre type de Harcèlement</option>
    </select>

    <br>

    <p>Niveau de priorité</p>

    <div id="priorities">
      
      <input type="radio" id="normal" name="priority" value="normal">
      <label for="normal">normal</label>

      <input type="radio" id="important" name="priority" value="important">
      <label for="important">important</label>

      <input type="radio" id="urgent" name="priority" value="urgent">
      <label for="urgent">urgent</label>

    </div>

    <br>
    
    <label for="sujet">Titre</label>
    <input id="sujet" type="text" name="sujet">

    <br>

    <label for="contenu">Votre message</label>
    <textarea rows="5" cols="50" name="contenu">
    </textarea>
  
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <div>
        <input id="anon" name="anon" type="checkbox" onclick="anonFunction()">
        <label for="anon">Rester anonyme</label>
    </div>
    <br>
  	<input id="text" type="submit" value="Envoyer">

</form>
<script>
    
function anonFunction() {

  var statut = document.getElementById("statut");
  var anon = document.getElementById("anon");
  var text = document.getElementById("text");
  
  if (anon.checked == true){
    text.value = "Envoyer anonymement";
    statut.value = "ANON";
  } else {
     text.value = "Envoyer";
     statut.value = "PUBLIC";
  }
  
}

(function (){

    var radios = document.getElementsByName('priority');

    for(var i = 0; i < radios.length; i++){
        radios[i].onclick = function(){
            document.getElementById('priority_level').value = this.value;
        }
    }
})();

</script>