<br>
<h2>Message de {{#if reponse_message}}{{#each reponse_message}}{{#each emetteur}} {{username}} - {{nom}} {{prenom}} {{/each}}{{/each}}{{/if}}</h2>
<hr>
<div class="box">
	<p>Objet : {{reponse_message.objet}}</p>
	<p>Sujet : {{reponse_message.sujet}}</p>
	<p>Contenu : {{reponse_message.contenu}}</p>
</div>
<input type="button" value="Revenir" onclick="window.history.back()" /> 