<style>
	.box{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	#messages_non_lu{
		display: block;
	}

	#messages_lu{
		display: block;
	}

	#messages_envoyes{
		display: block;
	}

	table th{
		background: slategrey;
		color: #fff;
		padding: 10px;
		text-transform: uppercase;
		letter-spacing: 5px;
	}

	.entete{
		text-transform: uppercase;
	}

</style>
{{#if user}}

	<h2>Messagerie de {{user.prenom}} {{user.nom}}</h2>

{{/if}}
<br>

<div class="box">
	<button id="tous" onclick="showAll()">Tous les messages</button>
	<button id="recus" onclick="showReceived()">Messages reçus</button>
	<button id="envoyes" onclick="showSend()">Messages envoyés</button>
	<a href="/eleve/{{user._id}}/creation_message" class="button primary">Nouveau Message</a>
</div>

<br>

<div id="messages_non_lu">

{{#if message_non_lu}}
<table style="border: lavender 3px solid;">
  <tr>
    <th colspan="5">Messages non lus</th>
  </tr>
  <tr>
    <td class="entete">De</td>
    <td class="entete">Date</td>
    <td class="entete">Sujet</td>
    <td class="entete">Contenu</td>
    <td class="entete">&nbsp;</td>
  </tr>
  {{#each message_non_lu}}
  <tr>
  	<td>{{emetteur}}</td>
  	<td>{{created_at}}</td>
  	<td>{{sujet}}</td>
  	<td>{{contenu}}</td>
  	<td>
      <a class="button primary small" href="/eleve/{{this._id}}/reponse_message">Répondre</a>
      <br><br>
      <form action="/eleve/{{this._id}}/message_lu" method="POST">
        <button class="btn primary small" type="submit">Lu</button>
      </form>
    </td>
   </tr>
  {{/each}}
 </table>
 <hr>
 {{/if}}

</div>

<div id="messages_lu">

 {{#if message_lu}}
 <table>
  <tr>
    <th colspan="5">Mesages lus</th>
  </tr>
  <tr>
    <td class="entete">De</td>
    <td class="entete">Date</td>
    <td class="entete">Sujet</td>
    <td class="entete">Contenu</td>
    <td class="entete">&nbsp;</td>
  </tr>  	
  {{#each message_lu}}
  	<tr>
  	<td>{{this.emetteur}}</td>
  	<td>{{this.created_at}}</td>
  	<td>{{this.sujet}}</td>
  	<td>{{this.contenu}}</td>
  	<td>
      <a class="button small" href="/eleve/{{this._id}}/reponse_message">Répondre</a>
      <br><br>
      <form action="/eleve/{{this._id}}/delete_message" method="POST">
        <button class="btn small" type="submit">Supprimer</button>
      </form>
    </td>
  	</tr>
  {{/each}}
</table>
<hr>
{{/if}}

</div>

<div id="messages_envoyes">

{{#if message_emis}}
<table>
	   <tr>
    	<th colspan="5">Messages envoyés</th>
  	</tr>
  	<tr>
	    <td class="entete">À</td>
	    <td class="entete">Date</td>
	    <td class="entete">Sujet</td>
	    <td class="entete">Contenu</td>
	    <td class="entete">&nbsp;</td>
  	</tr>
  	{{#each message_emis}}
  	<tr>
		<td>{{this.recepteur}}</td>
  	<td>{{this.created_at}}</td>
  	<td>{{this.sujet}}</td>
  	<td>{{this.contenu}}</td>
  	<td>
        <form action="/eleve/{{this._id}}/delete_message" method="POST">
          <button class="btn small" type="submit">Supprimer</button>
        </form>
    </td>
	  </tr>
	{{/each}}
</table>
<hr>
{{/if}}

</div>
	

<script>

  	let messages_non_lu 	= document.getElementById("messages_non_lu");
  	let messages_lu 		= document.getElementById("messages_lu");
  	let messages_envoyes 	= document.getElementById("messages_envoyes");

	function showAll() {

  		if (messages_non_lu.style.display === "none" && messages_lu.style.display === "none" && messages_envoyes.style.display === "none")
  		{
    		messages_non_lu.style.display = "block";
    		messages_lu.style.display = "block";
    		messages_envoyes.style.display = "block";
  		} else {
    		messages_non_lu.style.display = "none";
    		messages_lu.style.display = "none";
    		messages_envoyes.style.display = "none";
    		messages_non_lu.style.display = "block";
    		messages_lu.style.display = "block";
    		messages_envoyes.style.display = "block";
  		}
	}


	function showReceived(){

  		if (messages_non_lu.style.display === "none" && messages_lu.style.display === "none" && messages_envoyes.style.display === "none")
  		{
    		messages_non_lu.style.display = "block";
    		messages_lu.style.display = "block";
  		} else {
    		messages_non_lu.style.display = "none";
    		messages_lu.style.display = "none";
    		messages_envoyes.style.display = "none";
    		messages_non_lu.style.display = "block";
    		messages_lu.style.display = "block";
  		}
	}


	function showSend(){

  		if (messages_non_lu.style.display === "none" && messages_lu.style.display === "none" && messages_envoyes.style.display === "none")
  		{
    		messages_envoyes.style.display = "block";
  		} else {
    		messages_non_lu.style.display = "none";
    		messages_lu.style.display = "none";
    		messages_envoyes.style.display = "none";
    		messages_envoyes.style.display = "block";
  		}
	}
</script>