<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<style>
  .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #4B4F65;
  }

  .box
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box:before, .box:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.box:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


  #message_non_lu{
    display: block;
  }

  #message_lu{
    display: block;
    border: #708090 3px solid;
  }

  #message_emis{
    display: block;
    border: #708090 3px solid;
  }

  table th{
    background: slategrey;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .entete{
    text-transform: uppercase;
  }

  .lavend{
    background: lavender;
    color: #232943;
  }

  .flex_td{
  display: flex;
}

</style>
{{#if user}}

  <h2>Mes messages</h2>

{{/if}}

<div class="box">
  <button id="tous" onclick="showAll()"><i class="fas fa-inbox"></i> Tous les messages</button>
  <button id="recus" onclick="showReceived()"><i class="fas fa-envelope-open-text"></i> Messages reçus</button>
  <button id="envoyes" onclick="showSend()"><i class="fas fa-paper-plane"></i> Messages envoyés</button>
  <a href="/eleve/{{user._id}}/creation_message" class="button primary"><i class="fas fa-edit"></i> Nouveau Message</a>
</div>

<br>

<div id="message_non_lu">
{{#if message_non_lu}}

<table style="border: lavender 3px solid;">
  <tr>
    <th class="lavend" colspan="5">Messages non lus</th>
  </tr>
  <tr>
    <td class="entete">De</td>
    <td class="entete">Date</td>
    <td class="entete">Sujet</td>
    <td class="entete">Contenu</td>
    <td class="entete">&nbsp;</td>
  </tr>
  {{#each message_non_lu}}
  <tr>
    {{#each emetteur}}
    <td>{{username}} - {{nom}} {{prenom}}</td>
    {{/each}}
    <td>{{created_at}}</td>
    <td>{{sujet}}</td>
    <td>{{contenu}}</td>
    <td class="flex_td">
      <a class="button primary small" href="/eleve/{{this._id}}/detail_message"><i class="fas fa-search-plus"></i></a>
      &nbsp;
      <a class="button primary small" href="/eleve/{{this._id}}/reponse_message"><i class="fas fa-reply"></i></a>
      &nbsp;
      <form action="/eleve/{{this._id}}/message_lu" method="POST">
        <button class="btn primary small" type="submit"><i class="fas fa-check"></i></button>
      </form>
    </td>
   </tr>
  {{/each}}
 </table>
 <hr>
{{/if}}
</div>


<div id="message_lu">
{{#if message_lu}}

 <table>
  <tr>
    <th colspan="5">Mesages lus</th>
  </tr>
  <tr>
    <td class="entete">De</td>
    <td class="entete">Date</td>
    <td class="entete">Sujet</td>
    <td class="entete">Contenu</td>
    <td class="entete">&nbsp;</td>
  </tr>   
  {{#each message_lu}}
    <tr>
    {{#each emetteur}}
    <td>{{username}} - {{nom}} {{prenom}}</td>
    {{/each}}
    <td>{{created_at}}</td>
    <td>{{sujet}}</td>
    <td>{{contenu}}</td>
    <td class="flex_td">
      <a class="button primary small" href="/eleve/{{this._id}}/detail_message"><i class="fas fa-search-plus"></i></a>
      &nbsp;
      <a class="button small" href="/eleve/{{this._id}}/reponse_message"><i class="fas fa-reply"></i></a>
      &nbsp;
      <form action="/eleve/{{this._id}}/delete_message" method="POST">
        <button class="btn small" type="submit"><i class="fas fa-trash-alt"></i></button>
      </form>
    </td>
    </tr>
  {{/each}}
</table>
<hr>
{{/if}}
</div>
<br>
<div id="message_emis">
{{#if message_emis}}

<table>
     <tr>
      <th colspan="5">Messages envoyés</th>
    </tr>
    <tr>
      <td class="entete">À</td>
      <td class="entete">Date</td>
      <td class="entete">Sujet</td>
      <td class="entete">Contenu</td>
      <td class="entete">&nbsp;</td>
    </tr>
    {{#each message_emis}}
    <tr>
    {{#each recepteur}}
    <td>{{username}} - {{nom}} {{prenom}}</td>
    {{/each}}
    <td>{{created_at}}</td>
    <td>{{sujet}}</td>
    <td>{{contenu}}</td>
    <td class="flex_td">
      <a class="button primary small" href="/eleve/{{this._id}}/detail_message"><i class="fas fa-search-plus"></i></a>
      &nbsp;
        <form action="/eleve/{{this._id}}/archive_message" method="POST">
            <button class="btn small" type="submit"><i class="fas fa-trash-alt"></i></button>
        </form>
    </td>
    </tr>
  {{/each}}
</table>
<hr>
{{/if}}
</div>


<script>

    let message_non_lu = document.getElementById("message_non_lu");
    let message_lu     = document.getElementById("message_lu");
    let message_emis   = document.getElementById("message_emis");

  function showAll() {

      if (message_non_lu.style.display == "none" && message_lu.style.display == "none" && message_emis.style.display == "none")
      {
        message_non_lu.style.display = "block";
        message_lu.style.display = "block";
        message_emis.style.display = "block";
      } else {
        message_non_lu.style.display = "none";
        message_lu.style.display = "none";
        message_emis.style.display = "none";
        message_non_lu.style.display = "block";
        message_lu.style.display = "block";
        message_emis.style.display = "block";
      }
  }


  function showReceived(){

      if (message_non_lu.style.display == "none" && message_lu.style.display == "none" && message_emis.style.display == "none")
      {
        message_non_lu.style.display = "block";
        message_lu.style.display = "block";
      } else {
        message_non_lu.style.display = "none";
        message_lu.style.display = "none";
        message_emis.style.display = "none";
        message_non_lu.style.display = "block";
        message_lu.style.display = "block";
      }
  }


  function showSend(){

      if (message_non_lu.style.display == "none" && message_lu.style.display == "none" && message_emis.style.display == "none")
      {
        message_emis.style.display = "block";
      } else {
        message_non_lu.style.display = "none";
        message_lu.style.display = "none";
        message_emis.style.display = "none";
        message_emis.style.display = "block";
      }
  }
</script>